<!-- <form>
    <mat-form-field>
        <input matInput placeholder="Name" value="Game">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Name" value="Game">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Name" value="Game">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Name" value="Game">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Name" value="Game">
    </mat-form-field>
</form> -->

<form>
    <input placeholder="Favorite food" value="Sushi">

    <textarea placeholder="Leave a comment"></textarea>
</form>