<div id="register-game">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Game">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Game">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Game">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Game">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="Game">
        </mat-form-field>
    </form>
</div>