@model GameStore.ViewModels.CreateGameViewModel

<form action="" method="POST">
    <div class="form-group">
        <label for="GameName">Game</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescriptionOfTheGame">Description</label>
        <textarea asp-for="Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="GamePrice">Price</label>
        <input asp-for="Price" class="form-control">
    </div>
    <div class="form-group">
        <label for="ID">Consoles</label>
        <select asp-for="ConsoleId" 
                    asp-items="@(new SelectList(Model.Consoles,"ID","Name"))"/>
        <option>Please select one</option>
    </select>
    </div>
    <div class="form-group">
        <label for="CompanyId">Game</label>
        <select asp-for="CompanyId" 
                    asp-items="@(new SelectList(Model.Companies,"ID","Name"))"/>
        <option>Please select one</option>
    </div>
</form>