@model GameStore.Models.Games

<form action="">
    <div class="form-group">
        <label for="GameName">Game</label>
        <input type="text" class="form-control" id="GameName">
    </div>
    <div class="form-group">
        <label for="DescriptionOfTheGame">Description</label>
        <textarea class="form-control" id="DescriptionOfTheGame">
    </div>
    <div class="form-group">
        <label for="GamePrice">Price</label>
        <input type="text" class="form-control" id="GamePrice">
    </div>
    <div class="form-group">
        <label for="GameName">Consoles</label>
        <select asp-for="Consoles" 
                    asp-items="@(new SelectList(Model.Consoles,"ID","Name"))">
        <option>Please select one</option>
    </select>
    </div>
    <div class="form-group">
        <label for="GameName">Game</label>
        <input type="text" class="form-control" id="GameName">
    </div>
</form>