<div>
  <mat-toolbar style="height:auto;"  color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <div class="search-bar">
        <span class="brand-name">The Perfect Game Store!</span>
          <input placeholder="Search for games...">
          <button id="search-button"><mat-icon>search</mat-icon></button>
        <mat-icon>shopping_cart</mat-icon>
        <label>My Cart</label>
        <mat-icon>person</mat-icon>
        <label>Log in | Register</label>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <nav>
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/games']">Games</a>
        <a [routerLink]="['/games/register']">Register Game</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>